<style>
@import url('https://fonts.googleapis.com/css?family=Baloo');
</style>

#menu {
	text-align: center;
	color: white;
}
body {
	background-color: white;
}
	h1 {
	color: white;
}
p {
	color: white;
}
h5 {
	color: teal;
}
.blog2 {
	text-align: center;
}
.blog3 {
	text-align: right;
}
#team {
	text-align: right;
}
.facebook {
	text-align: center;
}
.instagram {
	text-align: right;
}
h3 {
	color: white;
	text-align: center;
}
#newsletter {
	text-align: center;
	color: teal;
}
#story {
	text-align: left;
	background-color: black;
}
#footer {
	text-align: center;
	color: white;
}
#title {
	text-transform: uppercase;
	font-family: Impact, sans-serif;
}
#slogan {
	text-transform: uppercase;
	font-family: Lucida, sans-serif
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}
img {
	max-width: 100%;
}
header {
	background-image: url(../images/new_orleans_concept_art.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}